*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --cell-size: 100px;
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 1px;
    grid-template-columns: repeat(3, auto);

}

.cell {
    background-color: white;
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
}